@model NodesAndSortingSettings

<a asp-controller="Verified" asp-action="AddNode">Add node</a>
<h3>@ViewData["UserName"]</h3>

<div id="SortAndFilter">
	<form method="post">
		<p>Sort By</p>
		<select asp-for="SortingSettings.Field">
			<option value="ID" selected>ID</option>
			<option value="CreateDate">CreateDate</option>
			<option value="Author">Author</option>
			<option value="Title">Title</option>
			<option value="DeadLine">DeadLine</option>
		</select>

		<select asp-for="SortingSettings.Vector">
			<option value="By ascending">By ascending</option>
			<option value="By descending" selected>By descending</option>
		</select>

		<input value="Sort" type="submit"/>
	</form>
</div>

<form asp-controller="Verified" asp-action="Logout" method="post">
	<input type="submit" value="Logout" />
</form>

<a asp-controller="Verified" asp-action="MyProfile">My Nodes</a>

<table>
	<tr> <td>Id</td> <td>CreateTime</td> <td>Author</td> <td>Title</td> <td>Description</td> <td>DeadLine</td> </tr>
	@foreach (Node node in Model.Nodes)
	{
		<tr> 
			<td>@node.Id</td>
			<td>@node.CreateDate</td>
			<td><a asp-controller="Verified" asp-action="Profile" asp-route-name="@node.AuthorName">@node.AuthorName</a> </td>
			<td>@node.Title</td>
			<td>@node.Description</td>
			<td>@(node.DeadLine is null ? "-" : $"{node.DeadLine} ({DateToViewConverter.GetStringRepresentation((DateTime)node.DeadLine)})")</td>
		</tr>
	}
</table>